---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle={`404 Not Found`}>
    <section>
        <main>
            <h1>404</h1>
            <p>La página que estás buscando no existe :c</p>
            <a class="back-btn" href="/">Volver al home</a>
        </main>
    </section>
</BaseLayout>