---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('./posts/*.md');
const title = "blog"
---
<BaseLayout pageTitle={title}>
    <section>
        <main>
            <h1>Blog de aprendizaje!</h1>
            <ul>
                {allPosts.map((post) =>
                        <BlogPost url={post.url} title={post.frontmatter.title}/>)}
            </ul>
        </main>
    </section>
</BaseLayout>