---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "inicio"
---
<BaseLayout pageTitle={title}>
    <section id="home">
        <main>
            <h1>Portafolio Algoritmos</h1>
            <p>Esta página fue creada con el objetivo de servir de portafolio para la materia de algoritmos grupo
                001</p>
        </main>
    </section>
</BaseLayout>
