---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "inicio"
---
<BaseLayout pageTitle={title}>
    <section id="home">
        <main>
            <div>
                <h1>Portafolio Algoritmos</h1>
                <p>Esta página fue creada con el objetivo de servir de portafolio para la materia de algoritmos grupo
                    001</p>
                <p style="padding: 20px;">Aquí puedes ver los temas del <a class="back-btn" href="/blog/">blog</a></p>
            </div>
        </main>
    </section>
</BaseLayout>
<style>
    div {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 20px;
    }
</style>
