---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = "inicio"
---
<BaseLayout pageTitle={title}>
    <section id="home">
        <main>
            <div>
                <h1>Portafolio Algoritmos <br/></h1>
                <p>Esta página fue creada con el objetivo de servir de portafolio para la materia de algoritmos grupo
                    001</p>
                <p style="padding: 20px;">Aquí puedes ver los temas del <a class="back-btn" href="/blog/">blog</a></p>
            </div>
            <img src="/assets/algoritmos.png" width="1000"
                 alt="mapa mental hablando de lo aprendido en la primer unidad de algoritmos">
            <div>
                <h2>Algoritmos</h2>
                <p>Los algoritmos son una serie de instrucciones paso a paso que han sido diseñadas para realizar una
                    tarea o resolver un problema.</p>
                <p>Estos, son fundamentales en todos los aspectos de la computación, desde las funciones más básicas
                    como el encendido y apagado, hasta la inteligencia artificial.</p>
                <p><strong>Características:</strong></p>
                <ul>
                    <li>Deben ser precisos y claros</li>
                    <li>Deben tener un inicio y un final</li>
                    <li>Se deben poder realizar con recursos disponibles</li>
                </ul>
            </div>
        </main>
    </section>
</BaseLayout>
<style>
    div {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 20px;
    }
</style>
