---

---
<style>
    footer {
        display: inline-block;
        gap: 1rem;
        padding: 1rem;
        text-align: center;
        width: 100%;
    }
</style>
<footer>
    <p>Hecho con mucho ❤️ por <a href="https://angiematiz.tech/">Angie Matiz</a></p>
    <p>Estudiante de Ingeniería de software - Institución universitaria Pascual Bravo</p>
</footer>