---
---
<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>
<style>
    .hamburger {
        padding: 20px;
        cursor: pointer;
    }

    .hamburger .line {
        display: block;
        width: 40px;
        height: 2px;
        margin-bottom: 10px;
        background-color: #9c77dc;
    }

    .hamburger {
        display: none;
    }

    @media (max-width: 768px) {
        .hamburger {
            display: block;
        }
    }
</style>